@import "./reset";
@import "./variables"; 

body{
    font-family: $f-primary; 
    background-color: hsl($c-blue-100); 
}

main{
    height: 100%; 
    padding: 2rem .5rem; 
    width: 100%; 
    display: grid; 
    place-content: center; 
}
.icon{
    @include actions-text; 
    @include flex-row(.5em); 
    width: fit-content;

    &.delete{
        @include actions-text($c-red-primary, $c-red-pale);
    }
}