@import "./variables"; 

.likesBar {
    background-color: hsl($c-blue-100);
    width: fit-content;
    height: fit-content; 
    padding: 0.2rem 0.6rem;
    font-size: 1.1rem;
    @include flex-row;
    gap: 0.5rem;
    border-radius: $border-radius;
    grid-area: likesBar; 
  }
  
  .like,
  .dislike {
    display: grid;
    place-items: center;
    width: 20px;
    cursor: pointer;
  
    &:active {
      scale: 0.9;
    }
  }
  
  .amountOfLikes {
    @include tag-text;
  }

  @media (min-width: $desktop-size) {
    .likesBar{
        @include flex-column;  
    }
}